.section {
    border-top: 2px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(90deg, #000 6.61%, #006C55 23.36%, #000 42.24%);

}

.body {
    display: flex;

    @media(max-width:1023px) {
        flex-direction: column;
    }

}

.item:first-child {
    flex-basis: 30%;
    border-right: 1px solid rgba(255, 255, 255, 0.20);

    @media(max-width:1023px) {
        border: none;
    }
}

.item:last-child {
    flex-basis: 70%;

}

.h2 {
    position: relative;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    padding-top: 80px;
    padding-bottom: 60px;

    @media(max-width:1023px) {
        padding: 40px 0;
        font-weight: 500;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 500%;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.2);

        @media(max-width:1023px) {
            right: -40px;
        }
    }
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 20px;
    padding: 80px 0;
    margin-left: 60px;

    @media(max-width:1023px) {
        padding: 40px 0 80px;
        margin-left: 0;

    }

    @media(max-width:767px) {
        grid-template-columns: 1fr 1fr;
    }

    @media(max-width:550px) {
        grid-template-columns: auto;
    }
}

.img {
    width: 100%;
    height: auto;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(75px);
    height: 365px;
    @media(max-width:767px) {
        height: auto;
    }
}

.p {
    color: #fff;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    margin-top: 15px;
}


.num {
    display: block;
    margin-top: auto;
    color: #006C55;
    text-align: right;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    @media(max-width:767px) {
        margin-top: 20px;
    }
}