.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  max-width: 730px;
}

.navLink {
  font-size: 16px;
  font-weight: 400;
  transition: all .3s;
}

.navLink:hover {
  color: var(--color-primary);
}

@media (max-width: 1023px) {
  .navigation {
    display: none;
  }
}